body { 
    background-image: url("pozadina.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

.digitron  { 
  float: right;
  margin: 150px;
}

.button { 
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
      
}

.polje { 
    width: 209px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid black;

}

.tekst { 
    font-size: 25px;
    text-align: right;
}

.button:hover { 
    transform:scale(0.9)
}